<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>

</p>

<p>
  <i>Established year <%= @brewery.year %></i>

</p>

<p>
  <b>Rating average</b>
<p>
  <% if @brewery.ratings.empty? %>
      No ratings available.
  <% else %>
      Average of <%= pluralize@brewery.ratings.count, "rating", "ratings" %>  was <%= @brewery.average_rating(@brewery.ratings) %>
  <% end %>
</p>
</p>

<p>
  <b>Number of products: <%= @brewery.beers.count %></b>
</p>

<p><b> Available products: </b></p>
    <ul>
<% @brewery.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %></li>
          <% end %>
          </ul>


<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %> |
<%= link_to 'All Beers', beers_path %>
