<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Style:</b>
  <%= @beer.style %>
</p>

<p>
  <b>Brewery:</b>
  <%= link_to @beer.brewery.name, @beer.brewery %>
</p>

<p>
  <b>Rating average</b>
  <p>
    <% if @beer.ratings.empty? %>
     No ratings available.
     <% else %>
  Average of <%= pluralize@beer.ratings.count, "rating", "ratings" %>  was <%= round(@beer.average_rating(@beer.ratings)) %>
        <% end %>
    </p>
</p>


<%= edit_and_destroy_buttons(@beer) %>
<%= link_to 'Back', beers_path %>
