<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Style:</b>
  <%= @beer.style %>
</p>

<p>
  <b>Brewery:</b>
  <%= link_to @beer.brewery.name, @beer.brewery %>
</p>

<p>
  <b>Rating average</b>
  <p>
    <% if @beer.ratings.empty? %>
     No ratings available.
     <% else %>
  Average of <%= pluralize@beer.ratings.count, "rating", "ratings" %>  was <%= @beer.average_rating(@beer.ratings) %>
        <% end %>
    </p>
</p>


<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
